.App {
 text-align: center;
  background: #EFE9E4;
}

.bs {
  padding-top: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 400%;
  text-align: center;
  color: #333333;
  text-shadow: #333333;
  font-weight: bo;
}

h2,
h3,
h4,
h5,
h6 {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 160%;
    text-align: center;
}


.submit-button.submit-button.submit-button    {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  fill: white;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width:20rem;

}



.text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  fill: white;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: 'Montserrat', sans-serif;
    font-size: 160%;
}

.number-players {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  fill: white;
  padding-top: 16px;
  padding-bottom: 16px;

}

.strat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  fill: white;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: 'Montserrat', sans-serif;
    font-size: 130%;
}

.card.card.card {
  border-radius: 8px;
  max-width: 10rem;
  align-items: center;
  justify-content: center;
}

.suggested-strategy {
  display: grid;
  grid-template-columns: 50% 50%;
}


.prompt label {
  /* 1px solid #282828;  */
  color: black; /* White text */
  padding: 20px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  font-size: 24px;
  font: Arial;
  font-family: sans-serif;
  display: block; /* Make the buttons appear below each other */

  
}

.button-row {
  display: grid;
  grid-template-columns: 16rem 16rem;
  grid-template-rows:   6rem 6rem;
  justify-content: center;
  gap: 1rem;

}

.page-column {
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid-template-rows:   6rem 6rem; */
  justify-content: center;
  gap: 1rem;

}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 100px;
}

.prompt {
  color : black;
  font-size: 20px;
  font-weight: bold;
}

.game-log {
  height: 100px;
  overflow: auto;
  color : black;
  font-size: 20px;
  font-weight: bold;
}

.rec-log {
  height: 100px;
  color : black;
  font-size: 20px; 
  font-weight: bold;
}

.rec-txt {
  color : black;
  font-size: 17px;
  font-weight: bold;
}

.please-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.please-center.please-center.please-center > input {
  max-width: 100%;
}