.App {
 text-align: center;
  background: #EFE9E4;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 300%;
  text-align: center;
  color: #333333;
  text-shadow: #333333;
}

h2,
h3,
h4,
h5,
h6 {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 160%;
    text-align: center;
}


.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  fill: white;
  padding-top: 16px;
  padding-bottom: 16px;
}


.number-players {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  fill: white;
  padding-top: 16px;
  padding-bottom: 16px;

}
